
input/data/metadata.csv
input/data/proteindata.csv
input/data/*
output/*
output*/
__pycache__/
*.pyc
.Rprofile
renv/library/
renv/python/
renv/staging/
r_libs/
r_libs/*

configs/auto-prot-config*.yaml
configs/auto-prot-config.yaml

# Bytecode
__pycache__/
*.pyc
